@use '../reset.css';
@use '../grid.css';

$lg-width: 1140px;
$gold-color: #cc9543;
$teal-color: #6abfc3;
$gray-bg: #f3f3f3;
$gray-text: rgba(74,74,74,0.7);
$width-100: 100%;

%button-style {
    height: 50px;
    width: 220px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.296);
}

%d-flex {
    display: flex;
    flex-wrap: wrap;
}

%p-text {
    font-size: 1.1em;
    line-height: 2;
}

%heading-text {
    color: #4a4a4a;
    font-weight: 600;
}

%nav-items {
    color: $gray-text;
    font-weight: bold;
    text-transform: capitalize;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex-center {
    @extend %d-flex;
    align-items: center;
}

.flex-end {
    @extend %d-flex;
    justify-content: end;
}

.flex-j-center {
    @extend %d-flex;
    justify-content: center;
}

.navbar {
    max-width: $lg-width;
    height: 90px;
    padding: 0 1.5em;
    margin-bottom: 50px;
}

.logo-text {
    margin-left: 15px;

    color: $gold-color;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1px;
}

.top-logo {
    height: 70px;
}

.nav-item {
    padding: 0 0.5em;
    @extend %nav-items;

}

.nav-item:hover {
    color: black;
}

.hamburger-icon {
    display: none; 
    fill: $teal-color;
}

.full-width {
    width: $width-100;
}

.text-center {
    text-align: center;
}

header {
    max-width: $lg-width;

    figure {
        border-radius: 50%;
        box-shadow: 0 5px 16px 0 rgba(0,0,0,0.1);
    }

    h1 {
        margin: 25px 0;
        font-size: 2.5em;
        font-weight: 300;
    }

    .subheading {
        color: $gold-color;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: 600;
    }
}


.main-container {
    // max-width: $lg-width;
    margin-top: 50px;
}

.content-table {
    color: $gray-text;
    font-size: 0.9em;
    text-transform: uppercase;

    list-style: disc;

    li {
        padding: 20px 0;
    }

    li:hover {
        color: black;
    }

    li:nth-child(1) {
        color: black;
        font-weight: 600;;
    }
}

.course-content {
    padding: 60px 10px 0 10px;

    h2 {
        margin-bottom: 20px;
        font-size: 1.6em;
        text-transform: capitalize;
        @extend %heading-text;
    }

    p {
        margin: 20px 0;
        @extend %p-text;
    }
}

.instructions {
    padding: 20px 30px;
    background-color: $gray-bg;

    ol {
        padding-left: 10px;
        @extend %p-text;
        list-style: decimal;

        li {
            margin: 20px 0;
        }
    }

    h3 {
        margin-top: 60px;
        font-size: 1.2em;
        @extend %heading-text; 
    }

    a {
        color: $gold-color;
    }
}

.additional-resources {
    margin: 50px 0;
}

.bottom-section {
    padding: 100px 0;
    background-color: $gray-bg;
}

.discord-link {
    max-width: $lg-width;
    color: $gray-text;
    text-align: center;
    @extend %p-text;

    h2 {
        font-size: 2em;
        font-weight: 200;
    }

    button {
        @extend %button-style;
        margin: 30px 0 80px 0;
        background-color: $gold-color;
    }
}


.thinkful-section {
    max-width: 75%;
    padding: 60px 40px;
    border-radius: 10px;
    background-color: white;

    h1 {
        font-size: 1.5em;
        color: $gray-text;
    }

    button {
        @extend %button-style;
        background-color: $teal-color;
    }

    h2 {
        font-size: 1.4em;
        font-weight: 600;
    }
    
    p {
        margin: 0 10px;
        font-size: 1.2em;
        font-weight: 600;
    }

    hr {
        margin: 20px 0;
        color: $gray-bg;
    }
}

footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;;

    svg {
        padding: 0 15px;
        fill: $gold-color;
    }

    svg:hover {
        fill: black;
    }

    li {
        padding: 7px 0;
        @extend %nav-items;
    }
}

@media (min-width: 1200px) { 
    .main-container {
        max-width: $lg-width;
    }
}
  
@media (min-width: 992px) and (max-width: 1199.99px) { 
    .main-container {
        max-width: 960px;
    }
}
  
@media (max-width: 991.99px) { 
    .content-table {
        display: none;
    }

    .main-container {
        max-width: 90%;
    }

    .thinkful-section {
        text-align: center;
    }

    .hamburger-icon {
        display: inline-flex;
    }

    .nav-list {
        display: none;
    }
}
  
@media (max-width: 650px) {
    .thinkful-section {
        text-align: center;

        div {
            display: block;
        }
    }

    .footer-logo {
        display: none;
    }
}